{% extends "post/main.html" %}
{% block content %}
<div class="container">
    <div class="card" style="background-color: #191919;">
        <div class="card-header text-muted">
            About
        </div>
        <div class="card-body">
            <h5 class="card-title text-muted">iPost It</h5>
            <p class="card-text text-muted">Is a place for individuals to post things on their mind! Come join!</p>
            <a href="/register/" class="btn btn-primary" style="background-color: #000000;">Register</a>
        </div>
    </div>
</div>
{% endblock content %}