{% extends "post/main.html" %}
{% block content %}

<div class="container">
    <div class="card" style="background-color:#191919;">
        <div class="card-header text-muted">
            Users
        </div>
        <div class="card-body">
            <table class="table table-hover">
                 <thead>
                    <tr>
                      <th scope="col" class="text-muted">#</th>
                      <th scope="col" class="text-muted">User First Name</th>
                      <th scope="col" class="text-muted">User Last Name</th>
                      <th scope="col" class="text-muted">Username</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for user in users %}

                 <tr>
                     <td class="text-muted">{{ forloop.counter }}</td>
                     <td class="text-muted">{{ user.first_name }}</td>
                     <td class="text-muted">{{ user.last_name }}</td>
                     <td class="text-muted">{{ user.username }}</td>
                     <td>
                         <a class="btn" style="background-color:#36454F;color:#fff;" onclick="viewUserPosts({{ user.id }})">view user posts</a>
                     </td>

                </tr>
                 {% endfor %}
            </table>
        </div>

    </div>

</div>

{% endblock content%}