{% extends "post/main.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                         {% if not usr.userimageextension.user_image.url %}


                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>

                    {% else %}
                    <img class="rounded-circle" src="{{ usr.userimageextension.user_image.url }}" alt="User image" width="100" height="100" style="object-fit: cover;">
                    {% endif %}
                </div>

                <hr>

                <div class="card-body">
                    <h5 class="card-title">{{  usr.first_name }}  {{  usr.last_name }}</h5>
                    <p class="text-muted">@{{ usr.username }} </p>
                    <p class="card-text">Number of posts: {{ number_of_personal_posts }}</p>
                </div>
            </div>
        </div>
        <div class="col-8">
<!--            <div class="mt-2 mb-2 d-flex justify-content-end">-->
<!--                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                    New Post It-->
<!--                </button>-->
<!--            </div>-->

            {% for user_post in posts  %}

            <div class="card mb-4">

                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="col-2">
                                {% if not usr.userimageextension.user_image.url %}


                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>

                    {% else %}
                    <img class="rounded-circle" src="{{ usr.userimageextension.user_image.url }}" alt="User image" width="50" height="50" style="object-fit: cover;">
                    {% endif %}
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">{{ user_post.title }}</h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-muted">{{user_post.posted_date}}</p>
                                    </div>
                                </div>

                                <p class="card-text">
                                    {{user_post.post_body}}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <p class="text-secondary">Posted by: {{ user_post.posted_by }}</p>
                        </div>

                    </div>

                </div>
            </div>

            {% endfor %}


        </div>

    </div>
</div>
{% endblock content %}
