{% extends 'post/main.html' %}}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card" style="background-color: #191919;">
        <div class="card-header text-muted">
            login
        </div>
        <div class="card-body text-muted">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" style="background-color:#191919;">Login</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'users-register' %}" style="background-color:#191919;">Register ?</a>
        </div>
    </div>

</div>

{% endblock content %}
